@import "elements.less";
@navy: #44609C;
@aqua: #4DD1A2;
@salmon: #FD5C59;
@yellow: #FFBF61;

body {
  font-family: Avenir;
  font-weight: 100;
  margin: 0;
}

/* FIXED MENU */

#menu {
    background-color: none;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 30%;
    left: 5%
}

#menubuttongroup {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menubutton {
    border: none;
    font-family: Avenir;
    text-transform: uppercase;
    background-color: transparent;
    color: black;
    font-size: 40px;
    cursor: pointer;
    width: 100%;
    font-weight: bold;
    text-align: center;
    padding: 0px 10px 0px 10px;
    margin: 0px;
}

.menubutton:hover {
    background-color: black;
    color: white;
}

.menubutton:focus {
    color: transparent;
}


#hello {
    color: @navy;
}

#work {
    color: @aqua;
}

#about {
    color: @salmon;
}

#contact {
    color: @yellow;
}

/* HOME PAGE */

#hellopage {
    border: solid 20px @navy;
    color: black;
    h1 {
        color: @navy;
    }
}


/* PORTFOLIO */

#portfoliopage {
    border: solid 20px @aqua;
    color: black;
    h1 {
        color: @aqua;
    }
}

/* ABOUT */

#aboutpage {
    border: solid 20px @salmon;
    color: black;
    h1 {
        color: @salmon;
    }
}

/* CONTACT */

#contactpage {
    border: solid 20px @yellow;
    color: black;
    h1 {
        color: @yellow;
    }
}

/*ALL PAGES */

.wholepage {
    height: 85%;
    padding: 0% 5% 5% 25%;
    margin: 1% 1% 1% 1%;
}

h1 {
    font-size: 100px;
}
