@import "elements.less";
@charset "UTF-8";
@navy: #5777C3;
@aqua: #4DD1A2;
@salmon: #FD5C59;
@yellow: #FFBF61;
@bg: #282C34;
@defaulttext: #DDE2E4;

h1 {
    font-size: 90px;
}

h2 {
    font-size: 60px;
    line-height: 50px;
}

h3 {
    font-size: 30px;
    line-height: 30px;
}

h4 {
    font-size: 25px;
    line-height: 25px;
}

h5 {
    font-size: 15px;
    line-height: 15px;
}



body {
  font-family: avenir;
  font-weight: 100;
  margin: 0;
  background-color: @bg;
}

/* FIXED MENU */

#menu {
    color: black;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -webkit-align-items: center;
    position: fixed;
    top: 15%;
    left: 2%
}

#menubuttongroup {
    margin-top: 20px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -webkit-align-items: center;
}

#menuimg {
    height: 50px;
    width: auto;
}

#hello {
    color: @navy;
    &:hover {
        color: white;
        background-color: @navy;
    };
}

#work {
    color: @aqua;
    &:hover {
        color: white;
        background-color: @aqua;
    };
}

#about {
    color: @salmon;
    &:hover {
        color: white;
        background-color: @salmon;
    };
}

#contact {
    color: @yellow;
    &:hover {
        color: white;
        background-color: @yellow;
    };
}

.menubutton {
    border: none;
    font-family: avenir;
    text-transform: uppercase;
    background-color: transparent;
    color: black;
    font-size: 40px;
    cursor: pointer;
    width: 100%;
    font-weight: bold;
    text-align: center;
    padding: 10px 10px 0px 10px;
    margin: 0px;

}

#contactlinks {
    margin-top: 10px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    -webkit-justify-content: left;
    flex-wrap: wrap;
    img {
        background-color: white;
        opacity: 0.5;
        width: 100px;
        height: 100px;
        border: 1px solid transparent;
        border-radius: 100px;
        margin-left: 5px;
        margin-top: 5px;
        &:hover {
            opacity: 1;
        };
    }
}

#spacer {
    height: 50px;
}

#menucredits {
    color: @bg;
    font-size: 15px;
    text-align: center;
    &:hover {
        color: @defaulttext;
    }
    cursor: default;
}


/* HOME PAGE */

#hellopage {
    color: black;
    h1 {
        color: @navy;
        margin: 0;
    }
    h2 {
        color: @navy;
        margin: 0;
        font-weight: 500;
        letter-spacing: -5px;
    }

    h3 {
        color: @defaulttext;
        margin: 0;
        font-weight: 600;
        letter-spacing: -1px;
    }

    h4 {
        color: @defaulttext;
        margin: 0;
        font-weight: 300;
        letter-spacing: 0px;
    }

    h5 {
        color: @defaulttext;
        margin: 0;
        font-weight: 300;
        letter-spacing: 0px;
    }

    .helloimg {
        height: 200px;
        width: auto;
        margin-right: 30px;
        margin-bottom: 30px;
    }
}



#hellocontent {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -webkit-align-items: center;
    margin: 50px 0px 50px 0px;
}


/* WORK */

#workpage {

    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 2; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    /* Modal Content */
    .modalblock {
        position: relative;
        background-color: #fefefe;
        margin: auto;
        padding: 50px;
        border: 1px solid #888;
        width: 80%;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
        -webkit-animation-name: animatetop;
        -webkit-animation-duration: 0.4s;
        animation-name: animatetop;
        animation-duration: 0.4s
    }

    .modaltitle {
        color: grey;
        font-size: 40px;
    }

    .modalcontent {
        overflow-y: scroll;
        display: flex;
        align-items: flex-start;
        flex-direction: row;
        img {
            height: 300px;
            width: 300px;
            margin-right: 50px;
        }
        a {
            color: black;
            font-weight: 500;
        }
    }

    /* The Close Button */
    .close {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }

    /* Add Animation */
    @-webkit-keyframes animatetop {
        from {top: -300px; opacity: 0}
        to {top: 0; opacity: 1}
    }

    @keyframes animatetop {
        from {top: -300px; opacity: 0}
        to {top: 0; opacity: 1}
    }


    color: black;
    h1 {
        color: @aqua;
    }
    button.menu-item {
        width: 100px;
        height: 40px;
        font-family: avenir;
        font-size: 20px;
        color: @aqua;
        background-color: transparent;
        border: 5px solid @aqua;
        cursor: pointer;
        margin: 5px;
        &:hover {
            background-color: @aqua;
            color: white;
        };
        &:focus {
            background-color: @aqua;
            color: white;
        };
        &:active {
            background-color: @aqua;
            color: white;
        };
    }
    #workheader {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-align-items: center;
        -webkit-justify-content: space-between;
    }

    .grid {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-wrap: wrap;
    }

    .grid-item {
        position: relative;
    	height: 150px;
        width: 150px;
        margin: 0px;
        outline: none;
        border: none;
        background-color: white;
        h5 {
            position: absolute;
            margin: auto;
            padding: 5%;
            bottom: 5%;
            left: 5%;
            color: white;
            display: none;
            z-index: 1;
            background-color: @aqua;
        };
        img {
            height: 100%;
            width: 100%;
        };
        &:hover {
            cursor: pointer;
            h5 {
            display: block;
            };
            img {
            -webkit-animation: fadeIn 0.5s forwards;
            -moz-animation: fadeIn 0.5s forwards;
            -ms-animation: fadeIn 0.5s forwards;
            -o-animation: fadeIn 0.5s forwards;
            animation: fadeIn 0.5s forwards;
            };
        }
    }
}

#aboutpage {
    color: black;
    h1 {
        color: @salmon;
    }

    .aboutheader {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
    }

    .aboutitem {
        display: none;
    }

    .aboutdefault {
        display: block;
    }

    .aboutheader {
        color: white;
    }

    .aboutcontent {
        color: white;
    }

    a {
        color: white;
        text-decoration: underline;
        &:hover {
            background-color: @salmon;
            color: white;
        };
    }


    a.aboutbar {
        text-decoration: none;
        font-weight: normal;
        width: 100px;
        height: 40px;
        font-family: avenir;
        font-size: 20px;
        color: @salmon;
        background-color: transparent;
        border: 5px solid @salmon;
        cursor: pointer;
        margin: 20px 5px 20px 5px;
        padding: 5px 10px 0px 10px;
        &:hover {
            background-color: @salmon;
            color: white;
        };
        &:focus {
            background-color: @salmon;
            color: white;
        };
        &:active {
            background-color: @salmon;
            color: white;
        };
    }

}


/* CONTACT */

#contactpage {
    color: black;
    h1 {
        color: @yellow;
    }
    height: 40%

}

/*ALL PAGES */

.wholepage {
    min-height: 80%;
    padding: 5% 8% 5% 20%;
    margin: 1% 1% 10px 1%;
    h1 {
        margin: 0;
    }
}

button {
    outline: none;
}

/*ANIMATIONS*/

.hidden{
     opacity:0;
}
.visible{
     opacity:1;
}

.typed-cursor {
  font-weight: 100;
  padding: 0 2px;
  -webkit-animation: blink 1s infinite;
  -moz-animation: blink 1s infinite;
  -ms-animation: blink 1s infinite;
  -o-animation: blink 1s infinite;
  animation: blink 1s infinite;
}

@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}


@keyframes fadeIn{
    0% { opacity:1; }
    100% { opacity:0.5; }
}
@-webkit-keyframes fadeIn{
    0% { opacity:1; }
    100% { opacity:0.5; }
}
@-moz-keyframes fadeIn{
    0% { opacity:1; }
    100% { opacity:0.5; }
}

@media screen and (max-width: 800px) {
    .modalcontent img {
        display: none;
    }
    button.menu-item {
        display: none;
    }
    .modaltitle {
        font-size: 30px;
    }
    #hellocontent {
        flex-direction: column;
    }
    #menu {
        display: none;
    }

    #contactlinks {
    img {
        height: 50px;
        width: 50px;
        }
    }

    h1 {
        font-size: 70px;
    }

    h2 {
        font-size: 40px;
        line-height: 30px;
        letter-spacing: 0px;
    }

    h3 {
        font-size: 20px;
        line-height: 20px;
    }

    h4 {
        font-size: 15px;
        line-height: 15px;
    }

    h5 {
        font-size: 10px;
        line-height: 10px;
    }

    .grid-item {
        height: 50px;
        width: 50px;
    }

}

@media screen and (max-width: 1200px) {

    .menubutton {
        font-size: 20px;
    }

    #menu {
        width: 50px;
        left: 8%;
    }

    button.menu-item, a.aboutbar {
        display: none;
    }

}
